header {
  height: 200px;


  nav {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
ul {
  display: inline-block;
  height: 50px;
  width: 100%;
  text-align: center;
li {
  display: inline-block;
  list-style-image: none;
  font-size: 30px;
  font-family: $links_font;
  color: $primary_purple;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  }
 }
}
img {
  width: 50%;
  height: auto;
}
}
